<a href="https://colab.research.google.com/github/akheel143/PYTHON-/blob/main/1_Python_Tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world')

Hello world

In [2]:
print('hello "world"')

hello "world"

**Basic operations**

In [3]:
print(2 + 2)#Add

print(2 - 2)#Sub

print(2 * 2)#Mutiply

print(50 - 5*6)

print(50 - 5*6 / 4)

8 / 5  # division always returns a floating point number

4
0
4
20
42.5

1.6

In [4]:
print(17//3) # floor division discards the fractional part
print(17%3)  # the % operator returns the remainder of the division

5
2

**Variables**

In [20]:
x=4
print(x)
name='Akheel'
print(name)
print(id(x),id(name))#The id() function returns the id of the specified object where it is stored
#Above x,name are two single variables

4
Akheel
94876122040928 140537852248304

In [10]:
x=1,2,3,4
print(x)
y=2,3,6,7
print(y)
#Above two variables are multi-variables

(1, 2, 3, 4)
(2, 3, 6, 7)

In [11]:
print(x+y)#joining two multi-variables
print(sum(x),sum(y))

(1, 2, 3, 4, 2, 3, 6, 7)
10 18

In [15]:
k='Akheel',2,4.1
print(k)
print(type(k))
print(x+k)#join x and k

('Akheel', 2, 4.1)
<class 'tuple'>
(1, 2, 3, 4, 'Akheel', 2, 4.1)

In [16]:
x, y, z = 10, 'Hello', True
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'bool'>

In [17]:
 #Assign a value to each individual variable separated by a comma will throw a syntax error, as shown below.
 x = 10, y = 'Hello', z = True
 print(x,y,z)

SyntaxError: ignored

In [18]:
 x = 10
 y = 'Hello'
 z = True
 print(x,y,z)

10 Hello True

**Data Types**

Scaler Type
*   int: Positive or negative whole numbers (without a fractional part) e.g. -10, 10, 456, 4654654.
*   float: Any real number with a floating-point representation in which a fractional component is denoted by a decimal symbol or scientific notation e.g. 1.23, 3.4556789e2.
*   complex: A number with a real and imaginary component represented as x + 2y.
*   bool: Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.

Sequence Type:

A sequence is an ordered collection of similar or different data types. Python has the following built-in sequence data types:

* String: A string value is a collection of one or more characters put in single, double or triple quotes.
* List: A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.
* Tuple: A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

Mapping Type

Dictionary: A dictionary Dict() object is an unordered collection of data in a key:value pair form. A collection of such pairs is enclosed in curly brackets. For example: {1:"Steve", 2:"Bill", 3:"Ram", 4: "Farha"}

Set Types

set: Set is mutable, unordered collection of distinct hashable objects. The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

frozenset: Frozenset is immutable version of set whose elements are added from other iterables.

Mutable and Immutable Types

* Data objects of the above types are stored in a computer's memory for processing. Some of these values can be modified during processing, but contents of others can't be altered once they are created in the memory.


* Numbers, strings, and Tuples are immutable, which means their contents can't be altered after creation.


* On the other hand, items in a List or Dictionary object can be modified. It is possible to add, delete, insert, and rearrange items in a list or dictionary. Hence, they are mutable objects.

Number Types: int, float, complex

In [26]:
x=1 #int
y=2.2 #float
z=5+2j
print(x,y,z)
#convertion
x=int(y)
y=float(x)
print(x,y)

1 2.2 (5+2j)
2 2.0

In [21]:
#Integers can be binary, octal, and hexadecimal values.
print(0b11011000) # binary
print(0o12) # octal
print(0x12) # hexadecimal

216
10
18

in-built functions

In [27]:
print(pow(2,3))#Returns the power of the specified numbers.
print(abs(-10))#Returns the absolute value of a number without considering its sign.
print(round(3.44,2))#Returns the rounded number.

8

**String**

In [40]:
name='Am akheel'
print(name)#Single line string
print(type(name))

Am akheel
<class 'str'>

In [41]:
ABOUT='''Am Mohammad Akheel
Am from telengana'''
print(ABOUT)#For multi lines

Am Mohammad Akheel
Am from telengana

In [42]:
len(name)#length of string

9

In [43]:
#indexing string
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])

A
m

a
k
h

In [44]:
#slicing string
print(name[:])
print(name[0:2])
print(name[2:5])
print(name[-5:-2])
print(name[:4])

Am akheel
Am
 ak
khe
Am a

In [45]:
x=100
k=str(x)
print(x,k)

100 100

In [46]:
#escape sequences
str1='Welcome to \'Python Tutorial\' on TutorialsTeacher'
print(str1)

str2="Welcome to \"Python Tutorial\" on TutorialsTeacher"
print(str2)

Welcome to 'Python Tutorial' on TutorialsTeacher
Welcome to "Python Tutorial" on TutorialsTeacher

In [47]:
#Use r or R to ignore escape sequences in a string.
str1=r'Welcome to \'Python Tutorial\' on TutorialsTeacher'
print(str1)

Welcome to \'Python Tutorial\' on TutorialsTeacher

In [48]:
x='string'
y='ping'
print(x+y)#adding two strings
print(x*4)#Concatenates multiple copies of the same string

stringping
stringstringstringstring

In [50]:
#in and not in
name='Akheel'
print('A' in name)
print('A' not in name)

True
False

In [53]:
#capitalize() method returns the copy of the string with its first character capitalized
#and the rest of the letters lowercased.
name='akheel'
print(name.capitalize())
address='#1 Harbor Side'.capitalize()
print(address)

Akheel
#1 harbor side

In [57]:
#The casefold() method returns a string where all the characters are in lower case. 
#It is similar to the lower() method, but the casefold() method converts more characters into lower case.
mystr = 'TUTORIALS Teacher'
print(mystr.casefold())
print('HELLO WORLD'.casefold())
print(mystr.lower())
mystr = '1# HarBOR Side'
print(mystr.casefold())

tutorials teacher
hello world
tutorials teacher
1# harbor side

The count() method searches (case-sensitive) the specified substring in the given string and returns an integer indicating occurrences of the substring. By default, the counting begins from 0 index till the end of the string.

In [63]:
mystr = 'TutorialsTeacher is a free online Tutorials website,tutorials need to be practice'

total = mystr.count('Tutorials')
print('Number of occurrences of "Tutorials":', total)

total = mystr.count('tutorials')
print('Number of occurrences of "tutorials":', total)
print(mystr.count('T'))

Number of occurrences of "Tutorials": 2
Number of occurrences of "tutorials": 1
3

In [64]:
mystr = 'TutorialsTeacher is a free online Tutorials website'
substr = 'Tutorials'

total = mystr.count(substr, 0, 15) # start 0, end 15
print('Number of occurrences between 0 to 15 index:',total)

total = mystr.count(substr, 15, 25) # start 15, end 25
print('Number of occurrences between 15 to 25 index:',total)

total = mystr.count(substr, 25) # start 25
print('Number of occurrences from 25th index till end:',total)

Number of occurrences between 0 to 15 index: 1
Number of occurrences between 15 to 25 index: 0
Number of occurrences from 25th index till end: 1

The endswith() function returns True if a string ends with the specified suffix (case-sensitive), otherwise returns False. A tuple of string elements can also be passed to check for multiple options. If a string ends with any element of the tuple then the endswith() function returns True.

In [65]:
mystr = 'Hello World'
print(mystr.endswith('h', 0, 1)) # is 'H' endswith 'h'? False
print(mystr.endswith('H', 0, 1)) # is 'H' endswith 'H'? True
print(mystr.endswith('e', 0, 2)) # is 'He' endswith 'e'? True
print(mystr.endswith('o', 0, 5)) # is 'Hello' endswith 'o'? True

False
True
True
True

In [67]:
#find() function finds the idex of string
greet='Hello World'
print("Index of 'H': ", greet.find('H'))
print(greet.find('h')) #returnd if str not found
print(greet.find('Hello'))

Index of 'H':  0
-1
0

In [70]:
#index() function
print(greet.index('H')) 
print(greet.index('w')) #Throw error no index found
#index is case sensitive and default index from '0'

0

ValueError: ignored

In [75]:
#isalnum return true if string has numbers or alphabets
x='1234'
print(x.isalnum())
y='A'
print(y.isalnum())

True
True

In [76]:
#The isalpha() method returns True if all characters in a string are alphabetic (both lowercase and uppercase) and
# returns False if at least one character is not an alphabet
mystr = 'HelloWorld'
print(mystr.isalpha()) # returns True
mystr = 'Hello World'
print(mystr.isalpha()) # returns False

True
False

In [77]:
#isdecimal() function return true if any decimal number present
numstr = '12345'
print(numstr.isdecimal()) # returns True

numstr = '10.50'
print(numstr.isdecimal()) # returns False

alnumstr = '123A'
print(alnumstr.isdecimal()) # returns False

True
False
False
False

In [78]:
#The isdigit() method returns True if all characters in a string are digits
mystr = '12345'
print(mystr.isdigit())

mystr = '10.5'
print(mystr.isdigit())

mystr = 'python'
print(mystr.isdigit())

True
False
False

In [80]:
#A valid identifier string can only contain uppercase or lowercase alphabats A to Z, 
#underscore, digits 0 to 9, and must start with an alphabats or an underscore.
lang='Python3'
print(lang.isidentifier())
greet='Hello World' 
print(greet.isidentifier()) # includes space so returns False

True
False

In [81]:
#islower() function true if atleast one lowercase present
mystr='#1?><~()+=*-+./\[] this is lower'
print(mystr.islower())
mystr='#1?><~()+=*-+./\[] THIS IS UPPER'
print(mystr.islower())

True
False

In [86]:
#isnumeric function true if all str is numbered
name='Akheel'
print(name.isnumeric())
num='123'
print(num.isnumeric())
nm='ak2'
print(nm.isnumeric())

False
True
False

In [97]:
#The join() method returns a string, which is the concatenation of the string
#with the string elements of the specified iterable as an argument.
sep = ','
names = ['Steve', 'Bill', 'Ravi', 'Jonathan'] # list
print(sep.join(names))

mystr = 'Hello' # string
print(','.join(mystr))

nums = ('1', '2', '3', '4') # tuple
print(sep.join(nums))

langs = {'Python', 'C#', 'Java', 'C++'} # set
print(sep.join(langs))

Steve,Bill,Ravi,Jonathan
H,e,l,l,o
1,2,3,4
C++,Java,C#,Python

The replace() method returns a copy of the string where all occurrences of a substring are replaced with another substring. The number of times substrings should be replaced by another substring can also be specified.

In [99]:
mystr = 'apples, bananas, apples, apples, cherries'
print(mystr.replace('apples','lemons'))

mystr = 'Good Morning!'
print(mystr.replace('g','f')) # replace small g with f

mystr = 'Python, Java, Python, C are programming languages'
print(mystr.replace('Python','SQL',1))#no.of times

mystr = '100'
print(mystr.replace('1','2'))

mystr = '#100'
print(mystr.replace('#','$'))

lemons, bananas, lemons, lemons, cherries
Good Morninf!
SQL, Java, Python, C are programming languages
200
$100

The split() method splits the string from the specified separator and returns a list object with string elements. The default separator is any whitespace character such as space, \t, \n, etc.

In [ ]:
mystr = 'Hello World'
print(mystr.split())

langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(','))

langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(',', 3))

The strip() method returns a copy of the string by removing both the leading and the trailing characters. By default, it removes leading whitespaces if no argument passed.

In [100]:
mystr = '     Hello World     '
print(mystr.strip()) 

mystr = '''
Python is 
a programming language'''
print(mystr.strip())  

mystr = '----Hello World----'
print(mystr.strip('-'))

Hello World
Python is
a programming language
Hello World

In [101]:
'#$2Hello World#$2'.strip('$2#')
print('#$-2Hello World#$2'.strip('$2#'))

print('www.tutorialsteacher.com/'.strip('/w.')) 

print('ābcā'.strip('ā')) # remove Unicode char

-2Hello World
tutorialsteacher.com
bc

**List**

In Python, the list is a mutable sequence type. A list object contains one or more items of different data types in the square brackets [] separated by a comma.

In [102]:
mylist=[] # empty list
print(mylist)

names=["Jeff", "Bill", "Steve", "Mohan"] # string list
print(names)

item=[1, "Jeff", "Computer", 75.50, True] # list with heterogeneous data
print(item)

[]
['Jeff', 'Bill', 'Steve', 'Mohan']
[1, 'Jeff', 'Computer', 75.5, True]

In [104]:
names=["Jeff", "Bill", "Steve", "Mohan"] 
print(names[0]) # returns "Jeff"
print(names[1]) # returns "Bill"

Jeff
Bill

In [105]:
nums=[1, 2, 3, [4, 5, 6, [7, 8, [9]]], 10] 
print(names[0]) # returns 1
print(names[1]) # returns 2
print(names[3]) # returns [4, 5, 6, [7, 8, [9]]]

Jeff
Bill
Mohan

In [106]:
nums=[1,2,3,4]
print(type(nums))

mylist=list('Hello')
print(mylist)

nums=list({1:'one',2:'two'})
print(nums)

nums=list((10, 20, 30))
print(nums)

nums=list({100, 200, 300})
print(nums)

<class 'list'>
['H', 'e', 'l', 'l', 'o']
[1, 2]
[10, 20, 30]
[200, 100, 300]

In [107]:
names=["Jeff", "Bill", "Steve", "Mohan"] 

for name in names:
    print(name)

Jeff
Bill
Steve
Mohan

In [ ]:
names=["Jeff", "Bill", "Steve", "Mohan"] 
names[0]="Newton" # update 1st item at index 0
names[1]="Ram" # update 2nd item at index 1

names.append("Abdul") # adds new item at the end

print(names)

In [110]:
names=["Jeff", "Bill", "Steve", "Mohan"] 
del names[0] # removes item at index 0
print("After del names[0]: ", names)

names.remove("Bill") # removes "Bill"
print(names)

print(names.pop(0)) # return and removes item at index 0
print("After names.pop(0): ", names)

names.pop() # return removes item at last index
print("After names.pop(): ", names)

del names # removes entire list object

After del names[0]:  ['Bill', 'Steve', 'Mohan']
['Steve', 'Mohan']
Steve
After names.pop(0):  ['Mohan']
After names.pop():  []

List methods

In [111]:
#append()
number = 1
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.append(number)
print(cities)

['Mumbai', 'London', 'Paris', 'New York', 1]

In [112]:
#clear()
cities = ['Mumbai', 'London', 'Paris', 'New York']
print("Before calling clear(): ", cities)
cities.clear()
print("After calling clear(): ", cities)

Before calling clear():  ['Mumbai', 'London', 'Paris', 'New York']
After calling clear():  []

In [113]:
#copy()
cities = ['Mumbai', 'London', 'Paris', 'New York']
favCities = cities.copy()
print("Original list: ", cities)
print("Copied list: ", favCities)

favCities.append('Delhi')
print("Original list: ", cities)
print("Copied list: ", favCities)

Original list:  ['Mumbai', 'London', 'Paris', 'New York']
Copied list:  ['Mumbai', 'London', 'Paris', 'New York']
Original list:  ['Mumbai', 'London', 'Paris', 'New York']
Copied list:  ['Mumbai', 'London', 'Paris', 'New York', 'Delhi']

In [114]:
#count()
num = 5
oddNums = [1, 3, 7, 11, 51, 23]
count = oddNums.count(num)
print("Number of times 5 appears is: ", count)

Number of times 5 appears is:  0

In [115]:
#extend()
cities = ['Mumbai', 'London', 'Paris', 'New York']
newCities = ['Delhi', 'Chicago']
cities.extend(newCities)
print("Updated List: ", cities)

Updated List:  ['Mumbai', 'London', 'Paris', 'New York', 'Delhi', 'Chicago']

In [116]:
#extend() with tupel
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities_tup = ('Delhi','Chicago')
cities.extend(cities_tup)
print("Updated List: ", cities)

Updated List:  ['Mumbai', 'London', 'Paris', 'New York', 'Delhi', 'Chicago']

In [117]:
#extend() with set
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities_set = {'Delhi','Chicago'}
cities.extend(cities_set)
print("Updated List: ",cities)

Updated List:  ['Mumbai', 'London', 'Paris', 'New York', 'Chicago', 'Delhi']

In [118]:
#extend() with dictionary
cities = ['Mumbai', 'London', 'Paris', 'New York']
capitals = {'New Delhi':'India','Washington DC':'USA'}
cities.extend(capitals) # adds items of dict as elements
print("Updated List: ",cities)

Updated List:  ['Mumbai', 'London', 'Paris', 'New York', 'New Delhi', 'Washington DC']

The extend() method adds items of the specified iterable at the end of the list, whereas the append() method adds the whole iterable as an item at the end of the list.

In [119]:
cities = ['Mumbai', 'London']
bigcities = ['Washington DC', 'Banglore']
favcities = ['Paris', 'New York']

cities.extend(favcities)
bigcities.append(favcities)

print("Cities: ", cities)
print("Big Cities: ", bigcities)

Cities:  ['Mumbai', 'London', 'Paris', 'New York']
Big Cities:  ['Washington DC', 'Banglore', ['Paris', 'New York']]

In [121]:
numbers = [1, 5, 3, 4, 5, 6, 3, 5, 9, 6]

pos = numbers.index(5) # starts from 0 till end
print("The index of 5: ", pos)

pos = numbers.index(5, 2, 5) # starts from 2nd index till 4th index 
print("The index of 5 from 2nd index: ", pos)

pos = numbers.index(5, 5) # starts from 5th index till end
print("The index of 5 from 5th index: ", pos)

The index of 5:  1
The index of 5 from 2nd index:  4
The index of 5 from 5th index:  7

In [123]:
#The list.insert() method is used to insert a value at a given position in the list.
mycities = {'Delhi','Chennai'}
favcities = ('Hyderabad','Bangalore')
worldcities = ['Mumbai', 'London', 'New York']
worldcities.insert(1, mycities)
worldcities.insert(3, favcities)

print("Cities: ", cities)

cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.insert(3, 'Delhi')
print(cities)

Cities:  ['Mumbai', 'London', 'Paris', 'New York']
['Mumbai', 'London', 'Paris', 'Delhi', 'New York']

In [126]:
#pop() default last element is poped
cities = ['Mumbai', 'London', 'Paris', 'New York']

print(cities.pop()) # returns and removes 'New York'
print('List Elements: ', cities)

print(cities.pop()) # returns and removes 'Paris'
print(cities)

cities = ['Mumbai', 'London', 'Paris', 'New York']
city = cities.pop(0)
print(city)
print("List Elements: ",cities)

city = cities.pop(2)
print(city)
print("List Elements: ",cities)

New York
List Elements:  ['Mumbai', 'London', 'Paris']
Paris
['Mumbai', 'London']
Mumbai
List Elements:  ['London', 'Paris', 'New York']
New York
List Elements:  ['London', 'Paris']

In [127]:
#remove() default first element is poped
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.remove('Mumbai')
print("Updated List: ",cities)
cities.remove('Paris')
print("Updated List: ",cities)

numbers = [1, 2, 3, 4, 5, 6]
numbers.remove(5)
print(numbers)

Updated List:  ['London', 'Paris', 'New York']
Updated List:  ['London', 'New York']
[1, 2, 3, 4, 6]

In [129]:
#reverse()
cities = ['Mumbai', 'London', 'Chicago', 'Paris', 'New York']
print("Original List: ", cities)
cities.reverse()
print("Reversed List: ", cities)

nums = [1, 2, 3, 4, 5]
print("Original List: ", nums)

nums.reverse()
print("Reversed List: ", nums)

#You can use the slicing operator [::-1] to get a new reversed list
nums = [1, 2, 3, 4, 5]
rev_nums = nums[::-1]

print("Original List: ", nums)
print("Reversed List: ", rev_nums)

Original List:  ['Mumbai', 'London', 'Chicago', 'Paris', 'New York']
Reversed List:  ['New York', 'Paris', 'Chicago', 'London', 'Mumbai']
Original List:  [1, 2, 3, 4, 5]
Reversed List:  [5, 4, 3, 2, 1]
Original List:  [1, 2, 3, 4, 5]
Reversed List:  [5, 4, 3, 2, 1]

In [131]:
#sort()
nums = [1, 5, 3, 4, 2, 10, 6, 8, 7, 9]
nums.sort()
print('List in Ascending Order: ', nums)

nums.sort(reverse=True)
print('List in Descending Order: ', nums)

cities = ['Mumbai', 'London', 'Paris', 'New York']

cities.sort(key=len)
print('List in Ascending Order of the length: ', cities)

cities.sort(key=len, reverse=True)#key:on what base the sorting should occur
print('List in Descending Order of the length: ', cities)

List in Ascending Order:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List in Descending Order:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
List in Ascending Order of the length:  ['Paris', 'Mumbai', 'London', 'New York']
List in Descending Order of the length:  ['New York', 'Mumbai', 'London', 'Paris']

In [140]:
#The following example shows how to sort a list 
#whose elements are the objects of the custom class.
class student:
	name=''
	age=0
	def __init__(self, name, age):
		self.name = name
		self.age = age

s1 = student('Bill', 25)
s2 = student('Steve', 29)
s3 = student('Ravi', 26)

student_list = [s1, s2, s3]
# student_list.sort() # raise an error

student_list.sort(key=lambda s: s.name) # sorts using lambda function

print('Students in Ascending Order:')

for std in student_list:
	print(std.name, end=', ')

student_list.sort(key=lambda s: s.name, reverse=True) # sorts using lambda function
print('\n')
print('Students in Descending Order:')

for std in student_list:
	print(std.name, end=', ')

Students in Ascending Order:
Bill, Ravi, Steve,

Students in Descending Order:
Steve, Ravi, Bill,

**Tupel**

Tuple is an immutable (unchangeable) collection of elements of different data types. It is an ordered collection, so it preserves the order of elements in which they were defined.

Tuples are defined by enclosing elements in parentheses (), separated by a comma. The following declares a tuple type variable.

In [141]:
#defining tupels
tpl=() # empty tuple
print(tpl)

names = ('Jeff', 'Bill', 'Steve', 'Yash') # string tuple
print(names)

nums = (1, 2, 3, 4, 5) # int tuple
print(nums)

employee=(1, 'Steve', True, 25, 12000)  # heterogeneous data tuple
print(employee)
#() is not necessary

()
('Jeff', 'Bill', 'Steve', 'Yash')
(1, 2, 3, 4, 5)
(1, 'Steve', True, 25, 12000)

In [142]:
#Access tuple
names = ('Jeff', 'Bill', 'Steve', 'Yash') 
print(names[0]) # prints 'Jeff'
print(names[1]) # prints 'Bill'

nums = (1, 2, 3, 4, 5) 
print(nums[0]) # prints 1
print(nums[1]) # prints 2

names = ('Jeff', 'Bill', 'Steve', 'Yash') 
print(names[-4]) # prints 'Jeff'
print(names[-3]) # prints 'Bill'

names = ('Jeff', 'Bill', 'Steve', 'Yash') 
a, b, c, d = names # unpack tuple
print(a, b, c, d)

Jeff
Bill
1
2
Jeff
Bill
Jeff Bill Steve Yash

In [143]:
 #you can only delete the full tupel
 del names

In [144]:
tpl = tuple('Hello') # converts string to tuple
print(tpl)
tpl = tuple([1,2,3,4,5]) # converts list to tuple
print(tpl)
tpl = tuple({1,2,3,4,5}) # converts set to tuple
print(tpl)
tpl = tuple({1:"One",2:"Two"}) # converts dictionary to tuple
print(tpl)

('H', 'e', 'l', 'l', 'o')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2)

**Set**
A set is a mutable collection of distinct hashable objects, same as the list and tuple. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.

The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

A set object contains one or more items, not necessarily of the same type, which are separated by a comma and enclosed in curly brackets {}. The following defines a set object with even numbers.

In [145]:
even_nums = {2, 4, 6, 8, 10} # set of even numbers
emp = {1, 'Steve', 10.5, True} # set of different objects

Only immutable (and hashable) objects can be a part of a set object. Numbers (integer, float, as well as complex), strings, and tuple objects are accepted, but set, list, and dictionary objects are not.

In [146]:
s = set('Hello') # converts string to set
print(s)
s = set((1,2,3,4,5)) # converts tuple to set
print(s)
d = {1:'One', 2: 'Two'} 
s = set(d) # converts dict to set
print(s)

{'l', 'H', 'o', 'e'}
{1, 2, 3, 4, 5}
{1, 2}

In [149]:
#add()
lang = {'Python', 'C++', 'Java', 'C'}
lang.add('Go')
print(lang)

#clear()
langs = {'Python','C++','C','Go'}
langs.clear()
print("Set after the clear() method is called: ", langs)

#copy()
langs = {'Python','C++','Java'}

copiedLangs = langs.copy()
copiedLangs.add('PHP')

print("Original Set: ", langs)
print("Copied Set: ", copiedLangs)

#We can also copy the set using an = operator, but when any change is made to the copied set, 
#it will also be reflected in the original set, as shown below.

{'Go', 'C++', 'Java', 'C', 'Python'}
Set after the clear() method is called:  set()
Original Set:  {'C++', 'Java', 'Python'}
Copied Set:  {'PHP', 'C++', 'Java', 'Python'}

In [152]:
#difference(A-B)
nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 8, 8}

nums3 = nums1.difference(nums2)
nums4 = nums2.difference(nums1)

print("nums1 - nums2: ", nums3)
print("nums2 - nums1: ", nums4)

nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 8, 8}
nums3 = { 3, 5, 8, 9, 10}

diff = nums1 - nums2 - nums3
print('Numbers Differences: ', diff)

#difference_update()
empids = {1,2,3,4,5}
mgrids = {1,2,3}
empids.difference_update(mgrids)
print("empids: ", empids)
print("mgrids: ", mgrids)

nums1 - nums2:  {1, 2, 3}
nums2 - nums1:  {8, 6, 7}
Numbers Differences:  {1, 2}
empids:  {4, 5}
mgrids:  {1, 2, 3}

In [154]:
#discard()
langs = {'Python','Go','C++','Java'}
langs.discard('C++')
print("The set after discard() is called: ",langs)

The set after discard() is called:  {'Go', 'Java', 'Python'}

In [156]:
#intersection()
nums = {1, 2, 3, 4, 5 }
oddNums = {1, 3, 5, 7, 9}
commonNums = nums.intersection(oddNums)
print("Common elements in nums and oddNums are: ", commonNums)

nums = {1,2,3,4,5,6,7,8,9,10}
oddNums = {1,3,5,6,7,9}
primeNums = {2,3,5,7}
commonNums = nums & oddNums & primeNums

print("Common elements: ", commonNums)

Common elements in nums and oddNums are:  {1, 3, 5}
Common elements:  {3, 5, 7}

In [158]:
#union()
nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 7, 7, 8}

distinct_nums = nums1.union(nums2)

print("The union of two sets is: ", distinct_nums)

nums1 = {1, 2, 2, 3, 4, 5}
nums2 = {4, 5, 6, 6, 7, 8, 8}
nums3 = {7, 8, 9, 10}

distinct_nums = nums1 | nums2 | nums3

print("The union of three sets is: ", distinct_nums)

The union of two sets is:  {1, 2, 3, 4, 5, 6, 7, 8}
The union of three sets is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#update,distinct elements are updated
nums = {1, 2, 3}
primeNums = {2, 3, 5, 7}

nums.update(primeNums)
print("Updated set: ", nums)

nums = {1, 2, 3}
oddNums = [1, 3, 5, 7, 9]
evenNums = (2, 4, 6, 8, 10)

nums.update(oddNums) # adding list elements
print("Updated set: ", nums)

nums.update(evenNums) # adding tuple elements
print("Updated set: ", nums)

# nums = nums | evenNums # throws error

** Dictionary**

The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known

Above, capitals is a dictionary object which contains key-value pairs inside { }. The left side of : is a key, and the right side is a value. The key should be unique and an immutable object. A number, string or tuple can be used as key.

In [161]:
d = {} # empty dictionary

numNames={1:"One", 2: "Two", 3:"Three"} # int key, string value
print(numNames)
decNames={1.5:"One and Half", 2.5: "Two and Half", 3.5:"Three and Half"} # float key, string value
print(decNames)
items={("Parker","Reynolds","Camlin"):"pen", ("LG","Whirlpool","Samsung"): "Refrigerator"} # tuple key, string value
print(items)
romanNums = {'I':1, 'II':2, 'III':3, 'IV':4, 'V':5} # string key, int value
print(romanNums)
dict_obj = {"Fruit":["Mango","Banana"], "Color":["Blue", "Red"]}
print(dict_obj)

{1: 'One', 2: 'Two', 3: 'Three'}
{1.5: 'One and Half', 2.5: 'Two and Half', 3.5: 'Three and Half'}
{('Parker', 'Reynolds', 'Camlin'): 'pen', ('LG', 'Whirlpool', 'Samsung'): 'Refrigerator'}
{'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
{'Fruit': ['Mango', 'Banana'], 'Color': ['Blue', 'Red']}

The same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. The value can be of any data type. One value can be assigned to more than one key.

In [163]:
#Access dict values
capitals = {"USA":"Washington DC", "France":"Paris", "India":"New Delhi"}
print(capitals["USA"])
print(capitals["France"])
capitals = {"USA":"Washington DC", "France":"Paris", "Japan":"Tokyo", "India":"New Delhi"}
print(capitals.get("USA"))

#Keys are case-sensitive. So, usa and USA are treated as different keys. 
#If the specified key does not exist then it will raise an error.

capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for key in capitals:
    print("Key = " + key + ", Value = " + capitals[key])

Washington DC
Paris
Washington DC

In [168]:
#update existing values
captains = {"England":"Root", "Australia":"Smith", "India":"Dhoni"}
captains['India'] = 'Virat'
print(captains)

#New key-value 
captains['SouthAfrica']='Plessis'
print(captains)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat'}
{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat', 'SouthAfrica': 'Plessis'}

In [170]:
#Direct accesse of keys,values
d1 = {'name': 'Steve', 'age': 21, 'marks': 60, 'course': 'Computer Engg'}
print(d1.keys())
print(d1.values())

dict_keys(['name', 'age', 'marks', 'course'])
dict_values(['Steve', 21, 60, 'Computer Engg'])

In [183]:
#Multi-dimensional dictionary
d1={"name":"Steve","age":25, "marks":60}
d2={"name":"Anil","age":23, "marks":75}
d3={"name":"Asha", "age":20, "marks":70}
students={1:d1, 2:d2, 3:d3}
print(students)
print(students[1])
for i in students[1]:
  print(i)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}
{'name': 'Steve', 'age': 25, 'marks': 60}
name
age
marks

In [186]:
keys = {'Mumbai','Bangalore','Chicago','New York'}
value = 'city'
dictionary = dict.fromkeys(keys,value)
print(dictionary)

{'New York': 'city', 'Mumbai': 'city', 'Chicago': 'city', 'Bangalore': 'city'}