<a href="https://colab.research.google.com/github/akheel143/PYTHON-/blob/main/4_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions**

A function is a reusable block of programming statements designed to perform a certain task. To define a function, Python provides the def keyword. The following is the syntax of defining a function.

In [ ]:
def greet():
  print('hello world')
greet()

hello world

In [ ]:
#Parameterized Function
def greet(name):  
    print ('Hello ', name)

greet('Steve') # calling function with argument
greet(123)

Hello  Steve
Hello  123

In [ ]:
def greet(name:str):  
    print ('Hello ', name)

greet('Steve') # calling function with string argument
greet(123) # raise an error for int argument

Hello  Steve
Hello  123

In [ ]:
# function with default argument
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [ ]:
#Multi Parameters
def greet(name1, name2, name3):  
    print ('Hello ', name1, ' , ', name2 , ', and ', name3)

greet('Steve', 'Bill', 'Yash') # calling function with string argument

Hello  Steve  ,  Bill , and  Yash

In [ ]:
#Unknown number of Arguments
def greet(*names):  
    print ('Hello ', names[0], ', ', names[1], ', ', names[2])

greet('Steve', 'Bill', 'Yash')

Hello  Steve ,  Bill ,  Yash

In [ ]:
def greet(*names):
	i=0
	print('Hello ', end='')
	while len(names) > i:
		print(names[i], end=', ')
		i+=1

greet('Steve', 'Bill', 'Yash') 
greet('Steve', 'Bill', 'Yash', 'Kapil', 'John', 'Amir')

Hello Steve, Bill, Yash, Hello Steve, Bill, Yash, Kapil, John, Amir,

In [ ]:
#Create a function with variable length of arguments
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

In [ ]:
# Return multiple values from a function
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

(50, 30)

In [ ]:
def greet(firstname, lastname):
    print ('Hello', firstname, lastname)

greet(lastname='Jobs', firstname='Steve') 
greet('Jobs','Steve')
# passing parameters in any order using keyword argument

Hello Steve Jobs
Hello Jobs Steve

In [ ]:
def greet(**person):
	print('Hello ', person['firstname'],  person['lastname'])

greet(firstname='Steve', lastname='Jobs')
greet(lastname='Jobs', firstname='Steve')
greet(firstname='Bill', lastname='Gates', age=55)

Hello  Steve Jobs
Hello  Steve Jobs
Hello  Bill Gates

In [ ]:
#Parameter with Default Value
def greet(name = 'Guest'):
    print ('Hello', name)

greet()
greet('Steve')

Hello Guest
Hello Steve

In [ ]:
def sum(a, b): 
    return a + b
sum(1,2)

3

In [ ]:
total=sum(10, 20) 
print(total)
total=sum(5, sum(10, 20))
print(total)

30
35

In [ ]:
# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

In [ ]:
#Write a program to create a recursive function 
#to calculate the sum of numbers from 0 to 10.
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

In [ ]:
#Assign a different name to function and call it through the new name
def display_student(name, age):
    print(name, age)

# call using original name
display_student("Emma", 26)

# assign new name
showStudent = display_student
# call using new name
showStudent("Emma", 26)

In [ ]:
#Generate a Python list of all the even numbers between 4 to 30
list(range(4,30,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
#print max of numbers
def num(x):
  return max(x)
num(range(10))

9

Lambda Function

In [ ]:
x ="Mohammad Akheel"
 
# lambda gets pass to print
(lambda x : print(x))(x)

Mohammad Akheel

In [ ]:
tables = [lambda x=x: x*10 for x in range(1, 11)]
 
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

In [ ]:
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b
 
print(Max(1, 2))

2

In [ ]:
square=lambda x:x*x
print(square(2))
def square(x):
    return x * x
square(2)

4

4

In [ ]:
greet=lambda name:name+'hi'
print(greet('akheel '))
greet=lambda name:print(name+'hi')
greet('akheel ')

akheel hi
akheel hi

In [ ]:
addition=lambda x,y,z:x+y+z
print(addition(1,2,3))
addition=lambda *x:x[0]+x[1]+x[2]
addition(1,2,3)

6

In [ ]:
sqrList = map(lambda x: x*x, [1, 2, 3, 4]) # passing anonymous function
print(next(sqrList))
print(next(sqrList))
print(next(sqrList))
print(next(sqrList))

1
4
9
16

In [ ]:
#print the table of 10.
tables = [lambda x=x: x*10 for x in range(1, 11)]
 
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

In [ ]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)

# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [ ]:
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: (x%2 != 0) , li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
ages = [13, 90, 17, 59, 21, 60, 5]
 
adults = list(filter(lambda age: age>18, ages))
 
print(adults)

[90, 59, 21, 60]

In [ ]:
# map() with lambda()
# to get double of a list.
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [ ]:
# use of lambda() function
# with map() function
animals = ['dog', 'cat', 'parrot', 'rabbit']
 
# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: str.upper(animal), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [ ]:
# reduce() with lambda()
# to get sum of a list
 
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce(lambda x, y: x + y, li)
print (sum)

193

In [ ]:
lis=range(0,11)
sum=reduce(lambda x,y:x+y,lis)
sum

55

In [ ]:
# importing functools for reduce()
import functools
 
# initializing list
lis = [ 1 , 3, 5, 6, 2, ]
 
# using reduce to compute maximum element from list
print ("The maximum element of the list is : ",end="")
print (functools.reduce(lambda a,b : a if a > b else b,lis))

The maximum element of the list is : 6

**Variable_scope**

In [ ]:
def greet():
    name = 'Steve'
    print('Hello ', name)

In [ ]:
#Here, name is a local variable for the greet()
#function and is not accessible outside of it.
name

NameError: ignored

In [ ]:
name='John'
def greet():
    print ("Hello ", name)

In [ ]:
#Now, you can access the global variable name 
#because it has been defined out of a function.
name

'John'

In [ ]:
#Local and Global Variables
name = 'Steve'
def greet():
    name = 'Bill'
    print('Hello ', name)
greet()
name

Hello  Bill

'Steve'

In [ ]:
#Access Global Variables
name = 'Steve'
def greet():
    global name
    name = 'Bill'
    print('Hello ', name)
greet()
name

Hello  Bill

'Bill'

In [ ]:
#Global Variables
name = 'Steve'
def greet():
    globals()['name'] = 'James'
    name='Steve'
    print ('Hello ', name)
greet()
name

Hello  Steve

'James'

In [ ]:
#globals()
num1=100
num2=200
name="TutorialsTeacher"
def add(x,y):
  z=x+y
  return z
    
globals()

In [ ]:
#locals()
locals()

In [ ]:
#Changes in Global Scope
x=10
def myfunction():
    x=10
    x=x*2
    print ('x inside function: ', x)
myfunction()
print ('x in global scope: ',x)

x inside function:  20
x in global scope:  10

In [ ]:
#Modify Global Dictionary
x=10
def myfunction():
    x=globals()['x']
    x=x*2
    globals()['x']=x                  
    print ('global variable x inside function: ',x)
    return
myfunction()
print ('global variable x in global scope: ',x)

global variable x inside function:  20
global variable x in global scope:  20

In [ ]:
x=10
def myfunction():
    x=globals()['x']
    x=x*2
    globals()['x']=x                  
    print ('global variable x inside function: ',x)
    return
myfunction()
print ('global variable x in global scope: ',x)

global variable x inside function:  20
global variable x in global scope:  20

In [ ]:
#global keyword
x=10
def myfunction():
    global x
    x=x*2                  
    print ('global variable x inside function: ',x)
    return
myfunction()
print ('global variable x in global scope: ',x)

global variable x inside function:  20
global variable x in global scope:  20

In [ ]:
#Scope in Inner Function
def outer(): 
     x1 = 15
     print ('in outer function:',x1)  
     def inner(): 
            global x1
            x1 = 30
            print ('value inside function',x1)
            
            
     inner() 
     print("After inner function: ", x1) 
  
outer() 
print("value of x1",x1)

in outer function: 15
value inside function 30
After inner function:  15
value of x1 30

In [ ]:
#nolocal keyword
def outer(isnolocal):
    x2=100
    print ('value in outer function:',x2)
    
    def withnolocal():
        nonlocal x2
        x2=50
    
    def withoutnolocal():
        x2=50
    
    if isnolocal==True:
        withnolocal()
    else:
        withoutnolocal()
    
    return x2
        
print (outer(True))
print (outer(False))

value in outer function: 100
50
value in outer function: 100
100

In [ ]:
import math
type(math)

module

In [ ]:
import math as cal
cal.log(4)

1.3862943611198906

In [ ]:
def sum(x,y):
    return x + y
def average(x, y):
    return (x + y)/2
def power(x, y):
    return x**y

In [ ]:
print(sum(10,20))
print(average(10,3))
print(power(4,2))

30
6.5
16

In [ ]:
import sys
sys.path

['',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
string='Akheel'
string[::-1]

'leehkA'