<a href="https://colab.research.google.com/github/akheel143/PYTHON-/blob/main/python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**if, elif, else Conditions**

Python uses the if keyword to implement decision control

if [boolean expression]:
    
    statement1
    
    statement2
    
    ...
    
    statementN

In [ ]:
price=50
if price < 100:
    print("price is less than 100")

price is less than 100

In [ ]:
price= 50
quantity = 5
if price*quantity < 500:
    print("price*quantity is less than 500")
    print("price = ", price)
    print("quantity = ", quantity)

price*quantity is less than 500
price =  50
quantity =  5

In [ ]:
#The statements with the same indentation level as if condition will not consider in the if block.
#They will consider out of the if condition.
price=50
quantity = 5
if price*quantity < 100:
    print("price is less than 500")
    print("price = ", price)
    print("quantity = ", quantity)
print("No if block executed.")

No if block executed.

In [ ]:
price=100

if price > 100:
 print("price is greater than 100")

if price == 100:
  print("price is 100")

if price < 100:
    print("price is less than 100")

price is 100

In [ ]:
price= 50
if price >= 100:
    print("price is greater than 100")
else:
    print("price is less than 100")

price is less than 100

In [ ]:
price= 100
if price > 100:
    print("price is greater than 100")
elif price == 100:
    print("price is 100")
elif price < 100:
    print("price is less than 100")

price is 100

In [ ]:
price= 50
if price > 100:
  print("price is greater than 100")
elif price == 100:
  print("price is 100")
else:
  print("price is less than 100")

price is less than 100

In [ ]:
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(1)
user_check(2)
user_check(3)
user_check(4)

Admin
Editor
Guest
Wrong entry

In [ ]:
number = 56
if number > 0: print("positive") 
else: print("negative")

positive

**Nested if, elif, else Conditions**

In [ ]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 2
Enter second number 3
2 is smaller than 3

In [ ]:
price= 50
quantity = 5
amount = price*quantity

if amount > 100:
    if amount > 500:
        print("Amount is greater than 500")
    else:
        if amount < 500 and amount > 400:
            print("Amount is")
        elif amount < 500 and amount > 300:
            print("Amount is between 300 and 500")
        else:
            print("Amount is between 200 and 500")
elif amount == 100:
    print("Amount is 100")
else:
    print("Amount is less than 100")

Amount is between 200 and 500

**While Loop**

In [ ]:
num=0
while num < 5:
    print('num = ', num)
    num = num + 1

num =  0
num =  1
num =  2
num =  3
num =  4

In [ ]:
num=0
while num < 5:
    num += 1   # num += 1 is same as num = num + 1
    print('num = ', num)
    if num == 3: # condition before exiting a loop
        break

In [ ]:
num=0
while num < 5:
	num += 1   # num += 1 is same as num = num + 1
	if num > 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  1
num =  2
num =  3

In [ ]:
num=0
while num < 3:
	num += 1   # num += 1 is same as num = num + 1
	print('num = ', num)
else:
    print('else block executed')

num =  1
num =  2
num =  3
else block executed

In [ ]:
num=0
count=0
sum=0
while num>=0:
    num = int(input('enter any number .. -1 to exit: '))#u can enter any num >0 if u want to exit enter less than 0 
    if num >= 0:
        count = count + 1 # this counts number of inputs
        sum = sum + num # this adds input number cumulatively.
avg = sum/count
print('Total numbers: ', count, ', Average: ', avg)

enter any number .. -1 to exit: 10
enter any number .. -1 to exit: 20
enter any number .. -1 to exit: 23
enter any number .. -1 to exit: -1
Total numbers:  3 , Average:  17.666666666666668

In [ ]:
even_num=0
while even_num<10:
    even_num+=1
    if even_num%2==0:
      print(even_num)

2
4
6
8
10

In [ ]:
x = 1
while x <= 5: print(x,end=" "); x = x+1

1 2 3 4 5

For Loop

In [ ]:
nums=[10, 20, 30, 40, 50]
for i in nums:
    print(i)

10
20
30
40
50

In [ ]:
num= (10, 20, 30, 40, 50)
for i in nums:
    print(i)

10
20
30
40
50

In [ ]:
for char in 'Hello':
    print (char)

H
e
l
l
o

In [ ]:
names = { 1:'One', 2: 'Two', 3: 'Three'}
for pair in names:
    print(pair)

1
2
3

In [ ]:
names = { 1:'One', 2: 'Two', 3: 'Three'}
for pair in names:
    print(names[pair])

One
Two
Three

In [ ]:
names = { 1:'One', 2: 'Two', 3: 'Three'}
for pair in names.items():
    print(pair)

(1, 'One')
(2, 'Two')
(3, 'Three')

In [ ]:
names = { 1:'One', 2: 'Two', 3: 'Three'}
for p,r in names.items():
    print(p,r)

1 One
2 Two
3 Three

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 5):
    if i > 2:
        break
    print(i)

1
2

In [ ]:
for i in range(1, 5):
    if i > 3:
        continue
    print(i)

1
2
3

In [ ]:
for i in range(2):
    print(i)
else:
     print('End of for loop')

0
1
End of for loop

In [ ]:
months = ['January', 'June', 'March', 'April']
for mon in months:
    pass
print(months)

['January', 'June', 'March', 'April']

In [ ]:
# Print First 10 natural numbers using while loop
i=0
while i<10:
  print(i)
  i+=1

Write a program to print the following number pattern using a loop.

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [ ]:
for x in range(1,4):
    for y in range(1,3):
        print(x,y)

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
for i in range(9,50):
  if i%2==0:
    print(i)
for j in range(9,50,2):
  print(j)

In [2]:
#Count the total number of ‘m’ in a given string.
#Direct method
name='mariya mennen'
print(name.count('m'))
#for loop
count=0
for i in name:
  if i!='m':
    continue
  else:
    count+=1
print(count)

2
2

In [3]:
count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)
else:
    print("Done")

1
2

In [4]:
# Reversed numbers using reversed() function
list1 = [10, 20, 30, 40]
for num in reversed(list1):
    print(num)

40
30
20
10

In [5]:
print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
  print(num)
print('\n')
num=[1,2,3,4,5]
for i in num[::-1]:
  print(i)
#direct method
print(num[::-1])

Reverse numbers using for loop
5
4
3
2
1
0


5
4
3
2
1
[5, 4, 3, 2, 1]

In [6]:
for i in reversed(range(1,4)):print('*'*i)

***
**
*

In [7]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [8]:
i=1
while i<2:
  for k in range(1,6):
    print('*'*k)
    i+=1

*
**
***
****
*****

In [9]:
rows = 5
# reverse for loop from 5 to 0
for i in range(rows,0,-1):
    for j in range(1, i + 1):
        print('*',end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

In [10]:
x=['apple','grapes','rapi']
for i,j in enumerate(x):
  print('index',i,'=',j)
  k=3
for i in range(k):
  print('index',i,'is',x[i])

index 0 = apple
index 1 = grapes
index 2 = rapi
index 0 is apple
index 1 is grapes
index 2 is rapi

In [11]:
name = "Jessa"
for i in name[::-1]:
    print(i, end=' ')
print('\n')
name = "Jessa"
for i in name:
    print(i, end=' ')

a s s e J

J e s s a

In [12]:
dialogue = "Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies"
# split on whitespace
for word in dialogue.split():
    print(word)

Remember,
Red,
hope
is
a
good
thing,
maybe
the
best
of
things,
and
no
good
thing
ever
dies

In [13]:
dict1 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
for key in dict1:
    print(key)
print('\n')

dict1 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
for key in dict1:
    print(dict1[key])
print('\n')

dict1 = {"Brand": "BMW", "Color": "Black", "Date": 1964}
for s in dict1.items():
    print(s)

Brand
Color
Date


BMW
Black
1964


('Brand', 'BMW')
('Color', 'Black')
('Date', 1964)